.scale{
    width:60px;
    height:60px;
    /* increase width 10 times, height 2 times */
    /* transform:scale(10,2); */
    /* decreases the width in half and height in quarter */
    /* transform :scale(0.5,0.25); */
    /* flips the x-axis */
    /* transform :scale(5,1); */
    /* transform:scaleX(-5); */
/* flips the y-axis */
    /* transform :scale(1,-5); */
    /* transform:scaleY(-5); */
    float:right;
}

.box{
    background-color:purple;
    height: 100px;
    width: 100px;
    display:inline-block;
    margin:20px;
   
}

.skew-x-20{
    transform:skewX(20deg);
}
.skew-x-neg-20{
    /* transform:skewX(-20deg); */
    animation: skew-horizontal 3s infinite;
    animation-direction: alternate;

}
.skew-y-neg-20{
    transform:skewY(-20deg);
}
.skew-y-neg-50{
    transform:skewY(-50deg);
    animation: skew-horizontal 1s infinite;
    animation-direction: alternate-reverse;
}

@keyframes skew-horizontal{
    0%{
        transform:skewX(20deg);
        opacity: 0.5%;
    }
    100%{
        transform:skewX(-20deg);
        opacity: 1%;
    }
}

keyframes skew-vertical{
    0%{
        transform:skewX(20deg);
    }
    100%{
        transform:skewX(-20deg);
    }
}
/* rotate */
.rotateX{
    transform:rotateX(50deg);
}
.rotateX{
    transform:rotateY(50deg);
}
.rotateX{
    transform:rotateZ(50deg);
}
/* translate */

keyframes shimmy{
    0%{
        transform:translate(0,0);
    }
    100%{
        transform:translate(20px,50px);
    }
}
    .translate{
        height: 100px;
  width: 100px;
  background-color: #3d9970;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
  color: white;
  padding: 5px;
  animation: shimmy 5s infinite;
  animation-direction: alternate;
    }
    /* matrix- all transforms can be combined */

    .matrix{
        rotate(45deg) translate(24px, 25px)
    }